/* stylelint-disable prettier/prettier */

/* Colors */

$black: #000;
$white: #fff;

$blue: #0f95b7;
$blue2: #1a78b6;
$dark-blue: #2a4258;
$darkest-blue: #162839;
$light: #e8ecf0;
$gray: #585858;
$dark-gray: #4a4a4a;
$middle-gray: #ddd;
$green: #5e8e3d;
$mint: #57c2b0;
$gold: #e8b648;
$gold-accessible: #765100;
$red: #e55a67;
$gray-light: #f2f2f2;
$blue-gray: #d9e0e2;
$dark-blue-opacity50: #cad0d5;
$gray-opacity50: #a5a5a5;

$accent: $blue2;
$accent-variant: $blue;

/* Used for bg-blue... and so on.
NB it will update GB colors from this map of colors - run `extract-colors` gulp task to refresh.*/
$local-colors: (
	black: $black,
	white: $white,
	blue: $blue,
	blue-2: $blue2,
	dark-blue: $dark-blue,
	darkest-blue: $darkest-blue,
	light: $light,
	gray: $gray,
	dark-gray: $dark-gray,
	middle-gray: $middle-gray,
	green: $green,
	mint: $mint,
	gold: $gold,
	red: $red,
) !default;

$twitterBlue: #2793d1;
$linkedinBlue: #0d78b6;
$facebookBlue: #3e68b2;
$googleplusRed: #de4733;
$instagramPink: #dd4485;

/* Fonts */

/*$headings-font: 'Fira Sans', sans-serif;*/
$headings-font: 'Patrima', 'Fira Sans', sans-serif;
$heading-outlined-font: 'Patrima-Outline', 'Fira Sans', sans-serif;
$heading-hatched-font: 'Patrima-Hatched', 'Fira Sans', sans-serif;
$heading-outlined-hatched-font: 'Patrima-HatchedOutline', 'Fira Sans', sans-serif;

$content-font: 'Inconsolata', monospace;
$helvetica: $content-font;

$font-weight-black: 900;
$font-weight-bold: 700;
$font-weight-regular: 400;

@mixin headings-font() {
	font-family: $headings-font;
}

@mixin content-font() {
	font-family: $content-font;
}

$local-font-rules: (
	h-1-title: (
		font-family: $headings-font,
		font-weight: $font-weight-bold,
		font-size: rem( 4 ),
		line-height: 1,
		letter-spacing: -0.13em,
		word-spacing: 0.13em,
		margin-bottom: rem( 2.4 ),
		tablet: (
			font-size: rem( 7.5 ),
		),
		desktop: (
			font-size: rem( 7.5 ),
		),
	),
	h-1: (
		font-family: $headings-font,
		font-weight: $font-weight-bold,
		font-size: rem( 3.5 ),
		line-height: rem( 3.9 ),
		letter-spacing: -0.13em,
		word-spacing: 0.13em,
		margin-bottom: rem( 2.4 ),
		tablet: (
			font-size: rem( 3.78 ),
			line-height: rem( 4.2 ),
		),
		desktop: (
			font-size: rem( 5.4 ),
			line-height: rem( 6.2 ),
		),
	),
	h-2: (
		font-family: $headings-font,
		font-weight: $font-weight-bold,
		font-size: rem( 2.6 ),
		line-height: rem( 3.2 ),
		letter-spacing: 0,
		margin-bottom: rem( 2.4 ),
		tablet: (
			font-size: rem( 2.72 ),
			line-height: rem( 3.36 ),
		),
		desktop: (
			font-size: rem( 3.4 ),
			line-height: rem( 4.4 ),
		),
	),
	h-3: (
		font-family: $headings-font,
		font-weight: $font-weight-bold,
		font-size: rem( 1.8 ),
		line-height: rem( 2.6 ),
		letter-spacing: 0,
		margin-bottom: rem( 2.4 ),
		tablet: (
			font-size: rem( 1.76 ),
			line-height: rem( 2.56 ),
		),
		desktop: (
			font-size: rem( 2.2 ),
			line-height: rem( 3.4 ),
		),
	),
	h-4: (
		font-family: $content-font,
		font-weight: $font-weight-bold,
		font-size: rem( 1.8 ),
		line-height: rem( 3.2 ),
		letter-spacing: 0,
		margin-bottom: rem( 2.4 ),
		tablet: (
			font-size: rem( 1.8 ),
			line-height: rem( 3.2 ),
		),
	),
	h-5: (
		font-family: $content-font,
		font-weight: $font-weight-bold,
		font-size: rem( 1.6 ),
		line-height: rem( 2.6 ),
		letter-spacing: 0,
		margin-bottom: rem( 2.4 ),
		tablet: (
			font-size: rem( 1.6 ),
			line-height: rem( 2.6 ),
		),
	),
	h-6: (
		font-family: $content-font,
		font-weight: $font-weight-bold,
		font-size: rem( 1.4 ),
		line-height: rem( 2.4 ),
		letter-spacing: 0,
		margin-bottom: rem( 2.4 ),
		tablet: (
			font-size: rem( 1.4 ),
			line-height: rem( 2.4 ),
		),
	),
	body: (
		font-family: $content-font,
		font-weight: $font-weight-regular,
		font-size: rem( 1.6 ),
		line-height: 1.5,
		letter-spacing: 0,
		margin-bottom: rem( 2.4 ),
		desktop: (
			font-size: rem( 1.6 ),
		),
	),
	list: (
		font-family: $content-font,
		font-weight: $font-weight-regular,
		font-size: rem( 1.6 ),
		line-height: 1.5,
		letter-spacing: 0,
		margin-bottom: rem( 1 ),
	),
	subtext: (
		font-family: $content-font,
		font-weight: $font-weight-regular,
		font-size: rem( 1.4 ),
		line-height: 1.375,
		letter-spacing: 0,
		margin-bottom: rem( 1 ),
	),
	caption: (
		font-family: $content-font,
		font-weight: $font-weight-regular,
		font-size: rem( 1.3 ),
		line-height: 1.4,
		letter-spacing: 0,
		margin-bottom: rem( 1 ),
		desktop: (
			font-size: rem( 1.5 ),
		),
	),

	/* TODO: define items below */
	label-large: (
		font-family: $content-font,
		font-weight: $font-weight-regular,
		font-size: rem( 2 ),
		line-height: rem( 2.4 ),
		letter-spacing: 0,
		margin-bottom: rem( 3.2 ),
		desktop: (
			font-size: rem( 2 ),
			line-height: rem( 2.4 ),
			letter-spacing: 0,
			margin-bottom: rem( 3.2 ),
		),
	),
	label-medium: (
		font-family: $content-font,
		font-weight: $font-weight-regular,
		font-size: rem( 1.6 ),
		line-height: rem( 2.2 ),
		letter-spacing: 0,
		margin-bottom: rem( 3.2 ),
		desktop: (
			font-size: rem( 1.6 ),
			line-height: rem( 2.2 ),
		),
	),
	label-small: (
		font-family: $content-font,
		font-weight: $font-weight-regular,
		font-size: rem( 1.6 ),
		line-height: rem( 2 ),
		letter-spacing: 0,
		margin-bottom: rem( 3.2 ),
		desktop: (
			font-size: rem( 1.2 ),
			line-height: rem( 1.4 ),
		),
	),
	quote: (
		font-family: $content-font,
		font-weight: $font-weight-regular,
		font-size: rem( 1.4 ),
		line-height: rem( 2.4 ),
		letter-spacing: 0,
		margin-bottom: rem( 3.2 ),
		desktop: (
			font-size: rem( 3.4 ),
			line-height: rem( 4 ),
		),
	),
	// below are style types with same desktop\mobile styles.
	// they are not added yet to loca-font-sizes to be accessed in gutenberg blocks.
	button-normal: (
		font-family: $content-font,
		font-weight: $font-weight-bold,
		font-size: rem( 1.8 ),
		line-height: rem( 2 ),
		letter-spacing: 0,
		margin-bottom: 0,
		desktop: (
			font-size: rem( 1.6 ),
		),
	),
	button-middle: (
		font-family: $content-font,
		font-weight: $font-weight-bold,
		font-size: rem( 1.8 ),
		line-height: rem( 2 ),
		letter-spacing: 0,
		margin-bottom: 0,
		desktop: (
			font-size: rem( 1.4 ),
		),
	),
	button-small: (
		font-family: $content-font,
		font-weight: $font-weight-bold,
		font-size: rem( 1.2 ),
		line-height: rem( 1.2 ),
		letter-spacing: 0,
		margin-bottom: 0,
	),
);

$local-font-sizes: (
	h-1-title: rem( 7.5 ),
	h-1: rem( 5.4 ),
	h-2: rem( 3.4 ),
	h-3: rem( 2.2 ),
	h-4: rem( 1.8 ),
	h-6: rem( 1.4 ),
	body: rem( 1.6 ),
	caption: rem( 1.5 ),
);


/* Other */

$site-header-height: rem( 10.6 );
$site-header-height-small: rem( 7.5 );
$site-header-height-mobile: rem( 6.6 );


/* Default Variables */

$slick-font-path: "./fonts/" !default;
$slick-font-family: "slick" !default;
$slick-loader-path: "./" !default;
$slick-arrow-color: $light !default;
$slick-dot-color: $light !default;
$slick-dot-color-active: $slick-dot-color !default;
$slick-prev-character: "<" !default;
$slick-next-character: ">" !default;
$slick-dot-character: "*" !default;
$slick-dot-size: 20px !default;
$slick-opacity-default: 0.75 !default;
$slick-opacity-on-hover: 1 !default;
$slick-opacity-not-active: 0.25 !default;

$arrow-down: '<svg xmlns="http://www.w3.org/2000/svg" width="13" height="7.93" viewBox="0 0 13 7.93"><g><path d="M493.5,602.965l-6.5-6.5,1.43-1.43,5.07,5.07,5.07-5.07,1.43,1.43Z" transform="translate(-487 -595.035)" fill="#2a4258"/></g></svg>';
